/* Pedagogie.css */
.pedagogie-page {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedagogie-section {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure equal height */
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
}

.pedagogie-section:nth-child(odd) {
  flex-direction: row-reverse;
}

.pedagogie-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pedagogie-image-container img {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.pedagogie-text {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pedagogie-text h2 {
  margin-top: 0;
}

.pedagogie-text p {
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .pedagogie-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .pedagogie-section:nth-child(odd) {
    flex-direction: column;
  }

  .pedagogie-image-container {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .pedagogie-text {
    padding: 0;
  }
}
